body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.nav-list {
    background:white;
    margin: 0;
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
    text-decoration: underline;
}

.button-sign-in {
    background: #2b7de9;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 8px;
    min-width: 80px;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}

.logo {
    margin-bottom: 25px;
}

.search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 511px;
    background: white;
    border-radius: 24px;
}

.search-container:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
}

.search-input {
    border-width: 1px;
    border-style: none;
    height: 34px;
    width: 416px;
    outline: none;
    background: white;
}

.button-search, .button-lucky {
    background: #f8f9fa;
    border: 1px solid transparent;
    outline: none;
    margin: 30px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.button-search:hover, .button-lucky:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    flex-wrap: wrap;
    font-size: 14px;
}

.footer-list {
    margin: 0;
    padding:1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-item-left {
    list-style: none;
    margin-left: 1rem;
}

.footer-item-right {
    list-style: none;
    margin-right: 1rem;
}

.footer-item-left a {
    text-decoration: none;
    color: #70757a;
}

.footer-item-right a {
    text-decoration: none;
    color: #70757a;
}